<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">

      body{
        background-color:#F0F8FF;
      }

      form{
        margin:50px;
        font-size:20px;
      }
      div{
        margin:30px;
        margin-top:40px;
      }

      label{
        font-weight:bold;
        margin-right:10px;
      }
      span{
        margin-right:30px;
      }

      input,button{
        padding:8px;
      }
      button:hover,input:hover{
        border:#5F9F9F 2px solid;
        font-weight:bold;
      }
    </style>
  </head>
  <body>
    <h1>Encode</h1>
    <form action="{{url_for('encode_image')}}" method="POST" enctype="multipart/form-data">
      <div>
      <label for="key">Key : </label>
      <input id="key" type="text" name="key" placeholder="Enter the key">
       </div> 
      <div>
        <span>
      <label for="aes">AES</label>
      <input type="radio" name="enc" id="aes" value="aes">
      </span>
       <span>
         <label for="des">Blowfish</label>
         <input type="radio" name="enc" id="des" value="blowfish">
       </span>
       <!-- <span>
         <label for="lsb">LSB</label>
         <input type="radio" name="enc" id="lsb">
       </span> -->
      </div>
      <div>
      <label for="message">Message : </label>
      <input type="text" name="message" placeholder="Enter the message">
      </div>
      <div>
      <label for="file">Select a file:</label>
      <input type="file" name="file" />  
      </div>
      <div>
      <input type="submit" name="" value="Submit">
      </div>
    </form>
    <div>
      <a href="{{url_for('loggedIN')}}"><button>Back</button></a>
      <a href="{{url_for('logout')}}"><button>Logout</button></a>
      </div>
    <p>{{message}}</p>
    <h3>{{size1}}</h3>
    <h3>{{size2}}</h3>
    <a href="static\upload.png" download>
      <button>download</button>
    </a>
    </body>
</html>
